<!-- DESIGNED FOR USE ON THE DEVICES PAGE, MIGHT BREAK ELSEWHERE -->

<!-- Modal -->
<div class="modal fade" id="addDevice" tabindex="-1" aria-labelledby="addDeviceLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-top:100px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDeviceLabel">Add A New Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deviceForm" class="needs-validation" novalidate action="/devices/create" method="POST">
                    <div class="mb-3 form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control device-form-element" id="name" name="name" aria-describedby="name-help" placeholder="My New Device" required>
                        <small id="name-help" class="form-text text-muted">No apostrophe's!</small>
                        <div class="invalid-feedback">
                            Please provide a device name.
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="room" class="form-label">Room</label>
                        <input type="text" class="form-control" id="room" name="room" aria-describedby="room-help" placeholder="Living Room" required>
                        <small id="room-help" class="form-text text-muted">No apostrophe's!</small>
                        <div class="invalid-feedback">
                            Please provide the room the device is in.
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="type" class="form-label">Type</label>
                        <select class="form-select" aria-label="Device type field" id="type" name="type" required>
                            <option selected disabled value="">Please select a type...</option>
                            <option value="rgbLight">RGB Light</option>
                            <option value="whiteLight">White Light</option>
                            <option value="toggle">Power Switch</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a type of device.
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="brand" class="form-label">Brand</label>
                        <select class="form-select" aria-label="Device brand field" id="brand" name="brand" required>
                            <option selected disabled value="">Please select a brand...</option>
                            <% brands.forEach((brand) => { %>
                                <option value="<%- brand.brand_id %>"><%- brand.name.charAt(0).toUpperCase() + brand.name.slice(1) %></option>
                            <% }) %>
                        </select>
                        <div class="invalid-feedback">
                            Please select a device brand.
                        </div>
                    </div>
                    <div class="mb-3 form-group" id="api-key-div">
                        <label for="room" class="form-label">API Key</label>
                        <input type="text" class="form-control" id="api-key-input" name="api_key" aria-describedbyt="key-help" placeholder="iuwnv2899hf9834bv398bvivsjkvbns" required>
                        <small id="key-help" class="form-text text-muted">Please provide an API key for the new device brand.</small>
                        <div class="invalid-feedback">
                            An API key is required to call device actions.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitForms()">Add Device</button>
            </div>
        </div>
    </div>
</div>

<script>
    submitForms = function () {
        deviceForm = document.getElementById("deviceForm")
        if (!deviceForm.checkValidity()) {
            // Add 'is-invalid' class to invalid fields
            deviceForm.querySelectorAll('.form-control, .form-select').forEach(function(input) {
                if (!input.validity.valid) {
                    input.classList.add('is-invalid');
                } else {
                    input.classList.remove('is-invalid');
                }
            });

            return
        } 

        deviceForm.submit();
        //document.getElementById("form2").submit();
    };
</script>