<!-- Modal -->
<div class="modal fade" id="addDevice" tabindex="-1" aria-labelledby="addDeviceLabel" aria-hidden="true">
    <div class="modal-dialog" style="padding-top:100px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addDeviceLabel">Add A New Device</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deviceForm" class="needs-validation" novalidate action="/devices/create" method="POST">
                    <div class="mb-3 form-group">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control device-form-element" id="name" name="name" placeholder="My New Device" required>
                        <div class="invalid-feedback">
                            Please provide a device name.
                        </div>
                    </div>
                    <div class="mb-3 form-group">
                        <label for="room" class="form-label">Room</label>
                        <input type="text" class="form-control" id="room" name="room" placeholder="Living Room" required>
                        <div class="invalid-feedback">
                            Please provide the room the device is in.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="type" class="form-label">Type</label>
                        <select class="form-select" aria-label="Device type field" id="type" name="type" required>
                            <option selected disabled value="">Please select a type...</option>
                            <option value="0">RGB Light</option>
                            <option value="1">White Light</option>
                            <option value="2">Power Switch</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a type of device.
                        </div>
                    </div>
                    <div class="form-group">
                    <label for="brand" class="form-label">Brand</label>
                        <select class="form-select" aria-label="Device brand field" id="brand" name="brand" required>
                            <option selected disabled value="">Please select a brand...</option>
                            <option value="0">Google</option>
                            <option value="1">Wyze</option>
                            <option value="2">Amazon</option>
                            <option value="3">Samsung</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a device brand.
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitForms()">Add Device</button>
            </div>
        </div>
    </div>
</div>

<script>
    submitForms = function () {
        deviceForm = document.getElementById("deviceForm")
        if (!deviceForm.checkValidity()) {
            // Add 'is-invalid' class to invalid fields
            deviceForm.querySelectorAll('.form-control, .form-select').forEach(function(input) {
                if (!input.validity.valid) {
                    input.classList.add('is-invalid');
                } else {
                    input.classList.remove('is-invalid');
                }
            });

            return
        } 

        deviceForm.submit();
        //document.getElementById("form2").submit();
    };
</script>