<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="d-flex flex-column min-vh-100 bg-light">
    <%- include('../partials/navbar'); %>
    <div class="my-auto text-center">
        <h1 class="mb-3">Welcome back, <%- user%>.</h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addDevice">
            Launch demo modal
        </button>
    </div>
    <%- include('../partials/footer'); %>
</body>