<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('../partials/navbar'); %>
    <div class="my-auto text-center bg-light">
        <h1 class="mb-3">Welcome back, <%- user%>.</h1>
        <h3 class="mb-3">
            <a href="/logout">Logout</a>
        </h3>
    </div>
    <%- include('../partials/footer'); %>
</body>